# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# Log files
*.log

# Local database files
*.db
*.sqlite3